@media screen and (min-width: 1024px)
{
  body
  {
    background-color: blue;
  }

  .large, .large_title, .medium, .medium_title, .small, .small_title
  {
    opacity: 1;
    font-size: 60px;
  }

  .small_title
  {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  .small
  {
    grid-area: 2 / 1 / 3 / 2;
  }
  
  .medium_title
  {
    grid-area: 1 / 2 / 2 / 3;
  }

  .medium
  {
    grid-area: 2 / 2 / 3 / 3;
  }
  
  .large_title
  {
    grid-area: 1 / 3 / 2 / 4;
  }
  
  .large
  {
    grid-area: 2 / 3 / 3 / 4;
  }
}

@media screen and (min-width: 480px) and (max-width: 1023px)
{
  body
  {
    background-color: green;
  }

  .large, .large_title, .medium, .medium_title, .small, .small_title
  {
    opacity: 1;
    font-size: 50px;

  }

  .large
  {
    grid-area: 2 / 1 / 3 / 4;
  }

  .medium
  {
    grid-area: 2 / 1 / 3 / 2;
  }
  
  .small
  { 
    grid-area: 2 / 2 / 3 / 4; 
  }
}

@media screen and (max-width: 479px)
{
  body
  {
    background-color: red;
  }

  .large, .large_title, .medium, .medium_title, .small, .small_title
  {
    opacity: 1;
    font-size: 30px;
  }

  .large, .medium,  .small
  {
    grid-area: 2 / 1 / 3 / 4;
  }
}