body
{
    max-block-size: 90%;
    font-family: 'Open sans', sans-serif;
    margin-left: center;
    margin-right: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(13, 6, 145) 16%, rgba(144,36,108,0.4948354341736695) 51%, rgba(60,131,145,0.5) 86%), url('chat.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

table, td, tr
{
    border: 1px solid black;
}

.modif, .modif2
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}

.img1, .img2
{
    width: 400px;
    height: 299,5px;
    float: left;
}

.img3
{
    width: 400px;
    height: 266,5px;
    float: left;
}

.modif
{
    float: left;
}

.modif2
{
    float: right;
}

.clear-float
{
    clear: both;
}

q
{
    display:block ;
    
    margin-inline-start: auto;
    margin-inline-end: auto;
}

q, blockquote
{
    max-block-size: 50%;
    margin-left: center;
    margin-right: center;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 160%;
    padding-left: 30px;
    border-left: 3px solid firebrick;
    background-color: rgb(194, 194, 194);
}

blockquote
{
    display:grid ;

}

.custom-background
{
    display:flex;

    margin-left: center;
    margin-right: center;
    background-color: bisque;
}
.villageois
{
    border-left: 3px solid rgb(31, 204, 170);
    background-color: rgb(194, 194, 194);
}

.farmer
{
    border-left: 3px solid rgb(31, 57, 204);
    background-color: rgb(194, 194, 194);
}

p
{
    font-family: serif;
    font-size: 120%;
    margin-top: 2px;
    margin-bottom: 2px;
}

a:link 
{
    color: blue;
}

a:visited 
{
    color: rgba(0, 0, 255, 0.532);
}

a:hover 
{
    color: hotpink;
}

a:active 
{
    color: blue;
}

.good
{
    color: green;
    text-transform:uppercase ;
}

.bad
{
    color: red;
    text-transform:uppercase ;
}

.gris
{
    background-color: gray;
}

.blanc
{
    background-color: white;
}

.pouce_bad, .pouce_good, .cat
{
    background-repeat: no-repeat;
    background-size: 5% 100%;
    padding-left: 8%;
}

.pouce_good
{
    background-image: url("./bien.png");
}

.pouce_bad
{
    background-image: url("./mal.png");
}

.cat
{
    background-image: url("./chat.png");
}
