$timer:0.4s;
$zoom:1.25;
$trans_photo: all 1s ease;
$trans_text: all $timer ease;
$back:rgb(255, 255, 255);

body
{
    height: 100%;
    width: 100%;
    margin: 5% 17.5%;
}

.parent
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 95% 5%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 65vw;
    height: 80vw;
    box-shadow: 1px 2px 7px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 2px 7px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 7px 3px rgba(0,0,0,0.75);
    &:hover
    {
        box-shadow: 1px 2px 13px 6px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 2px 13px 6px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 2px 13px 6px rgba(0,0,0,0.75);
        .example
        {
            .giga_chad
            {
                -webkit-transform:scale($zoom); /* Safari et Chrome */
                -moz-transform:scale($zoom); /* Firefox */
                -ms-transform:scale($zoom); /* Internet Explorer 9 */
                -o-transform:scale($zoom); /* Opera */
                transform:scale($zoom);
                -webkit-transition:1s ease-in-out;
                transition:1s ease-in-out;
                opacity: 0.7;
    
            }
            .content
            {
                opacity: 1;
                .text 
                {
                    transform: translateY(-90%);
                    -webkit-transform: translateY(-90%); /* Safari et Chrome */
                    -moz-transform:translateY(-90%); /* Firefox */
                    -ms-transform:translateY(-90%); /* Internet Explorer 9 */
                    -o-transform:translateY(-990); /* Opera */
                    background-color: $back;
                    width: 100%;
                    height: 130%;
                    opacity: 1;
                    .suite 
                    {
                        animation: pop 1s;
                        opacity: 1;
                    }
                }
            }
            .titre
            {
                transform: translateY(-580%);
                -webkit-transform: translateY(-580%); /* Safari et Chrome */
                -moz-transform:translateY(-580%); /* Firefox */
                -ms-transform:translateY(-580%); /* Internet Explorer 9 */
                -o-transform:translateY(-580%); /* Opera */
            }
        }
    }
}

.example
{
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    width: 100%;
    height: 100%;
}

.papa_giga_chad
{
    overflow:hidden;
    .giga_chad
    {
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        -webkit-transition: $trans_photo; /* Safari et Chrome */
        -moz-transition: $trans_photo; /* Firefox */
        -ms-transition: $trans_photo; /* Internet Explorer 9 */
        -o-transition: $trans_photo; /* Opera */
        transition: $trans_photo;
    }
}

.date
{
    width: 6vw;
    height: 6vw;
    border-radius: 3vw;
    position: absolute;
    font-size: 2.5vw;
    top: 5%;
    left: 85%;
    text-align: center;
    background-color: red;
}

.content
{
    opacity: 1;
    position: absolute;
    top:80%;
    left: 0;
    background-color: $back;
    width: 100%;
    height: 25%;
    -webkit-transition: $trans_text; /* Safari et Chrome */
    -moz-transition: $trans_text; /* Firefox */
    -o-transition: $trans_text; /* Opera */
    -ms-transition: $trans_text; /* Internet Explorer 9 */
    transition: $trans_text;
}
.titre
{
    opacity: 1;
    position: absolute;
    top:75%;
    left: 0;
    background-color: red;
    width: 20%;
    height: 5%;
    order: 1;
    -webkit-transition: $trans_text; /* Safari et Chrome */
    -moz-transition: $trans_text; /* Firefox */
    -o-transition: $trans_text; /* Opera */
    -ms-transition: $trans_text; /* Internet Explorer 9 */
    transition: $trans_text;
}

.text
{
    font-size: 5vw;
    height: 0;
    opacity: 1;
    width: 100%;
    text-indent: 2vw;
    transition:
    {
        delay: 0s;
        duration: $timer;
    };
}

.color
{
    color: red;
}

.suite 
{
    opacity: 0;
    font-size: 4vw;
}

.end
{
    grid-area: 2 / 1 / 3 / 2;
    width:100%;
    height: 100%;
    background-color: $back;
    text-align: center;
    font-size: 2vw;
    opacity: 0.75;
}

.logo
{
    width: 5%;
    height: 90%;
    margin-left: 2%;
    margin-right: 2%;
}


@keyframes pop 
{
    from 
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}