body
{
    /*dimension*/
    height: 100%;
    margin: 5% 17.5vw;

    /*taille de police et type de police*/
    font-size: 3vw;
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    
    /*couleur de fond principale*/
    background-color: #D0DDD7;
}

.FlexContainer
{
    animation-duration: 3s;
    animation-name: pop;

    /*Attribution du flex*/
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    overflow: auto;
    flex-direction: column;
    
    
    /*dimension*/
    width: 100%;
    height: 105vw;
    
    /*Ombre du flex*/
    box-shadow: 10px 13px 5px -1px rgba(0,0,0,0.25);
    -webkit-box-shadow: 10px 13px 5px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 13px 5px -1px rgba(0,0,0,0.25);

    /*Bord arrondi*/
    border: 7px hidden #000000;
    border-radius: 22px;

    /*Couleur de fond*/
    background-color: #A5AE9E;
    
    /*texte au centre*/
    text-align: center;
}

.FlexContainer div
{
    /*dimension du flex*/
    width: 100%;
    height: 100%;
}

.img_moi
{
    /*Bord arrondi pour l'image*/
    border: 7px hidden #000000;
    border-radius: 22px 22px 0px 0px;
    
    /*dimension de l'image*/
    width: 65vww;
    height: 65vw;
}

p
{
    /*centrage du texte*/
    margin-right: 16%;
    margin-left: 16%;
}

.txt
{
    /*taille de police en gras*/
    font-size: 5vw;
    font-weight: bolder;
}

.logo
{
    /*dimension logo*/
    width: 3vw;
    height: 3vw;

    /*espacememt*/
    margin-left: 5%;
    margin-right: 5%;
}

a
{
    /*retrait du surlignage*/
    text-decoration: none;
}

@keyframes pop 
{
    from 
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}